<template>
    <div :class="`base-input-container ${isFocused ? 'border-black' : ''}`">
        <div class="input-icon-parent">
            <div class="input-icon-chid">
                <img :src="icon" :alt="label" />
            </div>
        </div>
        <input ref="inputRef" :type="type" class="base-input" :placeholder="placeholder" @input="handleInputChange(name, $event.target.value)" @focus="setIsFocused(true)"
            @blur="setIsFocused(false)" />
        <div class="input-label">
            {{ label }}
        </div>
    </div>
</template>

<script>
import { ref } from 'vue';
export default {
    setup(props, { emit }) {
        const isFocused = ref(false);

        const setIsFocused = (value) => {

            isFocused.value = value;
        };

        const handleInputChange = (name, value) => {
            emit('handleChange', {name, value})
        }

        return {
            isFocused,
            setIsFocused,
            handleInputChange
        }
    },
    name: 'BaseInput',
    props: {
        icon: {
            type: String,
        },
        placeholder: {
            type: String,
        },
        name: {
            type: String,
        },
        label: {
            type: String,
        },
        value: {
            type: String,
        },
        type: {
            type: String,
        }
    },
    emits: ['handleChange']
}
</script>

<style scoped>
.base-input-container {
    @apply w-full rounded-3xl border-solid border relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.input-icon-parent {
    @apply h-full py-6;
    width: 63px
}

.input-icon-chid {
    @apply h-full w-full border-solid border-l flex justify-center items-center;
}

.input-label {
    @apply absolute right-20 text-xs font-bold -top-5 bg-white px-4;
}

.base-input {
    @apply text-xs px-8 appearance-none font-medium;
    width: calc(100% - 73px);
}

.base-input:focus {
    border: none;
    outline: none;
}
</style>