<template>
    <button type="button" :class="`${buttonColors} 
                    justify-center 
                    rounded-xl
                    flex
                    py-5
                    text-xs
                    items-center
                    font-bold
                    px-8`" aria-controls="mobile-menu" aria-expanded="false">
            <slot/>            

    </button>
</template>

<script>
const colors = {
    blue: 'bg-blue-500 hover:bg-blue-600 text-blue-contrastText',
    cyan: 'bg-cyan-600 hover:bg-cyan-700 text-white',
}

export default {
    name: 'MyButton',
    data() {
        return {
            colors
        }
    },
    props: {
        color: {
            type: String,
            required: false
        },
        sicon: {
            type: [Object, Function],
            required: false,
            // validator: (value) => typeof value === 'object' || typeof value === 'function'
        },
        endIcon: {
            type: Object,
            required: false,
            // validator: (value) => typeof value === 'object' || typeof value === 'function'
        }
    },
    computed: {

        buttonColors() {
            if (colors) return colors[this.color]
            return ''
        }
    }
}
</script>

<style></style>