<template>
    <div class="login-form-wrapper">
        <div class="login-description-container">
            <div class="login-description">
                <div class="login-description-title">
                    صرافی ارز دیجیتال نیوکوین اسپیس
                </div>
                <div class="login-description-description">
                    خرید و فروش امن بیت‌کوین و ارزهای دیجیتال
                    به بزرگترین بازار ارز دیجیتال ایران بپیوندید
                </div>
            </div>
            <div class="image-container">
                <img src="~/assets/img/astronaut.png" alt="astronaut" />
            </div>
        </div>
        <div class="login-form-container">
            <LoginForm />
        </div>
    </div>
</template>

<script>
import LoginForm from './forms/LoginForm.vue';
export default {
    components: {
        LoginForm
    }
}
</script>

<style scoped>
.login-form-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.login-form-container {
    @apply bg-white
}

.login-description-container {
    @apply bg-blue-500 py-28;
    display: flex;
    flex-direction: column;
}

.login-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-description-title {
    @apply flex-col align-middle justify-between text-center text-white font-black text-xl mb-8
}

.login-description-description {
    @apply flex-col align-middle justify-between text-center text-white font-medium text-sm;
    width: 324px
}

.image-container {
    @apply mt-24;
    display: flex;
    justify-content: center;
}
</style>