<template>
    <div class="register-form-wrapper">
        <div class="register-description-container">
            <div class="upper-section-container">
                <div class="logo-container">
                    <img class="logo" src="~/assets/img/Logo.png" />
                </div>
                <div class="register-text">
                    ثبت نام
                </div>
            </div>
            <div class="step-items-container">
                <template v-for="(item, key) in registerForms" :key="key">
                    <div class="item-container">
                        <div :class="`indicator ${getIndicatorClass(key)}`" />
                        <div :class="`item-text ${getTextClass(key)}`">
                            {{ item.title }}
                        </div>
                    </div>
                    <div v-if="(key + 1) !== registerForms.length" class="spacer" />
                </template>
            </div>
        </div>
        <register-form :activeIndex="activeIndex"/>
    </div>
</template>

<script>
import registerForms from '~~/assets/items/registerForms';
import { ref } from 'vue';
import RegisterForm from './forms/RegisterForm.vue'

export default {
    setup() {
        const activeIndex = ref(0)

        const getIndicatorClass = (key) => {
            if (key === activeIndex.value) return 'bg-slate-400 border-white border-3'
            if (activeIndex.value > key) return 'bg-white'
            return 'bg-slate-400'
        }
        const getTextClass = (key) => {
            if (activeIndex.value >= key) return 'text-white'
            return 'text-slate-400'
        }

        return {
            activeIndex,
            registerForms,
            getIndicatorClass,
            getTextClass
        }
    },
    components: {
        RegisterForm
    },
}
</script>

<style scoped>
.register-form-wrapper {
    display: grid;
    grid-template-columns: 27.5% 72.5%;
    grid-template-rows: 100%;
}

.register-description-container {
    @apply bg-blue-500 py-20 px-10;
    display: flex;
    flex-direction: column;
}

.logo-container {
    @apply flex justify-center
}

.item-container {
    display: flex;
    align-items: center;
}

.step-items-container {
    @apply mt-32;
}

.register-text {
    @apply text-center text-white font-black text-xl
}

.indicator {
    @apply rounded-full ml-8;
    width: 32px;
    height: 32px;
}

.upper-section-container {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.spacer {
    @apply my-5 border-r-3 border-slate-400;
    margin-right: 16px;
    height: 34px;

}

.item-text {
    @apply text-sm font-bold;
}
</style>