@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "YekanBakh";
    src: local("YekanBakh"),
        url("../fonts/YekanBakh-Regular.woff2") format("woff2");
}

* {
    font-family: "YekanBakh";
    direction: rtl;
    text-align: right;
}