<template>
    <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.57 1.42999L1.5 7.49999L7.57 13.57M18.5 7.49999H1.67" stroke="white" stroke-width="1.5"
            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>

<script>
export default {
    name: 'ArrowLeft'
}
</script>

<style></style>