<template>
    <div class="main-container">
        <div class="form-container">
            <slot />
        </div>
    </div>
</template>
  
<script>
export default {

}
</script>
<style scoped>
.main-container {
    @apply bg-cyan-50 min-h-screen py-10 px-10;
    display: grid; 
    grid-template-rows: 100%;
}

.form-container {
    @apply bg-white min-h-full rounded-xl overflow-hidden;
    display: grid;
    grid-template-rows: 100%;
}
</style>
