<template>
    <div class="form-container">
        <div class="logo-container">
            <img src="~/assets/img/Logo.png" />
        </div>
        <div class="login-title-container">
            <div class="login-title">
                ورود به داشبورد
            </div>
            <nuxt-link to="/auth/register">
                <div class="register-link">
                    هنوز ثبت نام نکرده‌اید؟
                </div>
            </nuxt-link>
        </div>
        <div class="input-container">
            <component :is="item.ComponentName" v-for="(item, key) in loginInputItems" :key="key" v-bind="item" :value="formState[item.name]"
                @handleChange="handleUpdate" />
        </div>
        <my-button color="blue">
            ورود به حساب
            <arrow-left class="mr-4 -translate-y-0.3" />
        </my-button>
    </div>
</template>

<script>
import MyButton from '../base/buttons/MyButton.vue'
import ArrowLeft from '../base/icons/ArrowLeft.vue';
import BaseInput from '../input/BaseInput.vue';
import loginInputItems from '~/assets/items/loginInputItems'
import { reactive } from 'vue';

export default {
    setup() {
        const formState = reactive({
            email: '',
            password: ''
        })

        const handleUpdate = ({ name, value }) => {
            formState[name] = value
        }

        watch(() => ({ ...formState }), (oldValues, newValues) => {
            console.log('newValues', newValues)
            console.log('oldValues', oldValues)
        })

        return {
            loginInputItems,
            handleUpdate,
            formState
        }
    },
    components: {
        MyButton,
        ArrowLeft,
        BaseInput
    },
    name: 'LoginForm'
}
</script>

<style scoped>
.form-container {
    @apply min-h-full;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-title {
    @apply text-2xl font-black mb-4
}

.register-link {
    @apply text-sm font-medium text-blue-500
}

.input-container {
    @apply w-full px-20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 168px
}

.submit-container {
    display: flex;
    justify-content: center;
}
</style>