<template>
    <div class="register-form-container">
        <div class="form-body-container">
            <div class="form-title-container">
                <div class="guid-text">
                    {{ guidText }}
                </div>
                <div class="attention-text">
                    لطفا اطلاعات خود را با دقت وارد نمائید
                </div>
            </div>
            <div class="form-inputs-container">
                <div v-for="(item, key) in inputItems" :key="key" :class="`${item.col}`">
                    <component :is="item.ComponentName" v-bind="item"
                        :value="formState[item.name]" @handleChange="handleUpdate" />
                </div>
            </div>
        </div>
        <div class="action-container">
            <my-button color="blue">
                مرحله بعد
                <arrow-left class="mr-4 -translate-y-0.3" />
            </my-button>
        </div>
    </div>
</template>

<script>
import MyButton from '../base/buttons/MyButton.vue'
import ArrowLeft from '../base/icons/ArrowLeft.vue'
import registerForms from '~~/assets/items/registerForms';
import BaseInput from '../input/BaseInput.vue';

import { computed } from 'vue'
export default {
    setup(props) {
        const { activeIndex } = props

        const formState = reactive({
            full_name: '',
            national_code: '',
            birthday: ''
        })

        const handleUpdate = ({ name, value }) => {
            formState[name] = value
        }

        const guidText = computed(() => {
            return `مرحله ${activeIndex + 1} از ${registerForms ? registerForms.length : 0}`
        })
        const inputItems = computed(() => {
            return registerForms[activeIndex].formItems;
        })

        console.log('inputItems', inputItems.value)
        return {
            guidText,
            inputItems,
            handleUpdate,
            formState
        }
    },
    props: {
        activeIndex: {
            type: Number
        }
    },
    components: {
        MyButton,
        ArrowLeft,
        BaseInput,
    },
    name: 'RegisterForm'
}
</script>

<style>
.form-body-container {
    @apply w-full flex flex-col items-center
}

.form-title-container {
    @apply flex flex-col items-center w-full mb-22;
}

.register-form-container {
    @apply bg-white p-10 flex flex-col items-center justify-between;
}

.form-inputs-container {
    @apply w-full grid grid-cols-12 gap-y-16;
    max-width: 582px;
}


.action-container {
    @apply pt-10 border-t w-full flex justify-end;
}

.guid-text {
    @apply text-blue-500 text-xs font-bold mb-3;
}

.attention-text {
    @apply text-sm font-bold
}

.full-width {
    @apply col-span-full
}</style>